.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: minmax(100px, auto);
    column-gap: 2px;
    row-gap: 2px;
    
}

.box{
    border: solid 2px black;
    background-color: crimson;
}
.i1{
    grid-row-start: span 2;
}
.i2{
    grid-column-start: span 2;
}
.i4{
    grid-row-start: span 2;
}
.i5{
    grid-column-start: span 2;
}
.i6{
    grid-row: span 2;
    grid-column: span 3;
}
.i7{
    grid-column: span 1;
    grid-row-start: span 1;
}
