ul {
    list-style: none;
    padding: 10;
    margin: 5;
}

li {
    padding:5;
}
#liga {
    position: relative;
}
.searchmenu{

    display: flex;
    align-items:start;
    padding-bottom: 30px;
}

table, th, td {
    border: 1px solid black;
}
td{
    padding-left: 10px;
    padding-right: 10px;
}